@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
 body{
     font-family:open sans;
	 margin:0;
	 padding:0;
}
 h2 span{
	border-bottom:4px solid #ff9934;
}
 a:hover{
     text-decoration: none!important;
}
h2{
	font-size:39px;
	font-weight:800;
}
a.fa {
    color:#000;
	}
 a{
     font-family: 'Lato', sans-serif;
	 font-weight:600;
}
 ul, h1, h2, h3, h4, h5, h6, p{
     
     font-family: 'Lato', sans-serif;
}
 li{
     list-style:none;
     font-family: 'Lato', sans-serif;
}
p{
     font-family: 'Lato', sans-serif;
     font-size:14px; 
}
input{
    font-family: 'Lato', sans-serif;
}
label{
    font-family: 'Lato', sans-serif;
}




/*--====-==-=header-=-=-=-=-=-=-=*/

.main-header-box {
    position: fixed;
    background-color:#000000d9;
    width: 100%;
}

a.navbar-brand {
	color: #fff;
	font-size: 26px;
}
.menu ul.navbar-nav {
	margin: 0 0 0 auto;}
.menu li.nav-item {
	margin-right: 14px;
}
.menu a.nav-link {
    color: #fff;
    font-weight: 500;
}	
.sign  {
	background-color: #ff9933;
	color: #fff;
	padding: 6px 6px;
	border-radius: 6px;
}
.sign a{
	color:#fff;
}
.sign i.fa.fa {
    padding-right: 4px;
}
.support  {
	background-color: #4d4e4d;
	color: #fff;
	padding: 6px 15px;
	border-radius: 6px;
}
.support a{
	color:#fff;
}
.support i.fa.fa {
    padding-right: 4px;
}
.menu-box i.la.la-bars {
    color: #fff;
}

/*-=-=-=-banner===-=-=-*/
.banner{
	background-image:url(..//img/banner.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
.banner .row {
	/* background-color: #fff;*/
	border-radius: 10px;
}
.banner ul#myTab {
	/* background-color: #fff;
	box-shadow: 0px 3px 17px #d4cece;
	border-radius: 10px; */
}
section.hero-wrapper {
	/* padding-top: 7%; */
}
.flight_1 .nav-tabs .nav-item {
	margin:0 29px;
}
.flight_1 {
    text-align: center!important;
    margin-bottom: -39px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color:#ff9933;
	border:none;
}
#flight .nav-tabs {
	border-bottom: 1px solid #dee2e6;
	border: none;
	margin-top: 23px;
}
.banner form.row.align-items-center {
	border: 1px solid #d0d0d0;
}
.banner .form-group input.form-control {
	border: none;
	padding: 0;
}
.banner .input-box {
	border-left: 1px solid #e0dcdc;
	padding: 1px 19px;
}
.from .input-box {
	border: none;
}
.flight_from label.label-text {
	font-weight: 700;
	font-size: 15px;
}
.travel a.dropdown-toggle.dropdown-btn {
    padding: 0;
    border: none;
}
.travel-box  a.dropdown-toggle.dropdown-btn {
    padding: 7px 12px;
}
.search {
    text-align: center;
    margin: 40px 0 -40px;
}
.search a {
    background-color: #ff9933;
    color: #fff;
    padding: 2px 64px;
    border-radius: 29px;
    border: none;
}

.banner .form-group input.form-control {
    font-size: 22px;
    font-weight: 700;
    color: #000 !important;
}

.table-box a.dropdown-toggle.dropdown-btn {
font-size: 22px;
    font-weight: 700;
    color: #000 !important;}

.offer .row {
	background: none;
}
.trip a#one-way-tab {
    font-size: 18px;
    font-weight: 700;
}

.trip a#round-trip-tab{
    font-size: 18px;
    font-weight: 700;
}

.trip a#multi-city-tab{
    font-size: 18px;
    font-weight: 700;
}
.fresh .filter-option-inner-inner {
    font-size: 22px;
    font-weight: 700;
}
.table-box .label-text {
    font-size: 15px;
    color: #0d233e;
    font-weight: 700;
}

.table-box .filter-option-inner-inner {
    font-size: 22px;
    font-weight: 700;
}
.offer {
    /* padding-top: 6%; */
    position: relative;
    margin-top: -108px;
}
.offer {
	/* padding-top: 6%; */
}
/*-=-=-=hotel-=-==-=*/
.destination {
	margin-top: 33px;
}
.desti .input-box{
	border:none !important;}
.destination label.label-text {
	font-size: 15px;
	font-weight: 600;
}
.holiday label.label-text {
	font-size: 15px;
	font-weight: 600;
}
.holiday{
	margin-top:5px;}
.plus{
	padding:0!important;}
.plus ul#myTab2 {
    border: none;
    margin-top: 15px;
}
/*-=-=-=visa-=-==-=*/
.visa {
	margin-top:60px;}
.visa label.label-text {
	font-size: 15px;
	font-weight: 600;
}
select.select-contain-select {
    border: none;}
/*-=-=-=about-=-==-=*/
.about {
	margin: 60px 0;
}
.enjoy a {
	padding: 6px 7px;
	background-color: #ff9933;
	color: #fff;
	border-radius: 7px;
	box-shadow: 1px 3px 6px #aba7a7;
}
.enjoy h6 {
    font-size: 20px;
    font-weight: 800;
}
.enjoy {
	padding: 20% 0;
}
.enjoy p {
    padding-bottom: 13px;
    font-size: 16px;
    text-align: justify;
}
/*-=-=-=slider-=-==-=*/
.deals a {
    color: black;
}
.deals h3 {
	font-size: 36px;
	font-weight: 800;
}
.deals .d-block.col-md-6 {
	padding: 0 36px;
}
.deals i.fa.fa {
	color: #969292;
	font-size: 39px;
}

.d-block .col-md-6{
	background-image:url(..//img/slide_1.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:10% 0; 
}
/*01-Oct-2020 Home page slider**/
.deals {
    background-color: #f8f7f7;
	padding: 40px 0;
}
.coupon-code{
	display: table-cell; 
	text-align: left;
}
.book-btn{
	display: table-cell;
	text-align: right;
}
.media-footer {
    display: table;
    width: 100%;
    padding: 30px 0 0;
}
.coupon-box .media-body h5 {
    font-weight: 700;
    color: #000;
}
.media-footer h5 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.media-footer  .book-btn h5 a{
    color: #ff9933;
}
.coupon-box a small {
    color: #ff9933;
    font-weight: 500;
}
.coupon-box .media-body p {
    color: #000;
    font-size: 16px;
}
.coupon-box {
    box-shadow: 1px -1px 6px #d0c9c9;
    background: #f8f6f7;
    border-radius: 8px;
    padding: 20px;
}
.carousel-item {
    padding: 20px 30px;
}
.coupon-slider-div .carousel-control-next, .carousel-control-prev {
   width: 0;
}
.coupon-deals-div {
    box-shadow: -1px 1px 6px 1px #d0c9c9;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
.coupon-deals-div .nav-tabs .nav-link {
    border-style: none;
}
.coupon-deals-div .nav-tabs {
    border-bottom: 0;
}
.coupon-deals-div  .nav.nav-tabs a select.form-control{
    border-style: none;
    font-weight: 600;
    color: #000;
    margin: 0 !important;
    padding: 0 !important;
    line-height: inherit !important;
    height: inherit;
}
.coupon-deals-div  .nav.nav-tabs a select.form-control:focus {
    box-shadow: inherit;
}
.search-fields-container {
    background: #fff;
    padding: 28px;
    border-radius: 10px;
}
.banner ul#myTab {
    background-color: #fff;
    box-shadow: 4px 8px 27px #e0dbdb;
    border-radius: 10px;
    width: 83%;
    margin: 0 auto;
	display: inline-flex;
}
.passport {
    padding-top: 40px;
}
.pass button.btn.dropdown-toggle.btn-light {
    border: none;
    padding: 0;
}


/*.trip .nav-tabs .nav-link.active  .custom-control-label::after {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e);
}
 .custom-control-label::after {
    background: inherit !important;
    background: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e) !important;
}
.trip .nav-tabs .nav-link.active  .custom-radio .custom-control-label::before {
    background: #ff9933;
}*/
.trip a {
    background: none !important;
}
.row {
    margin: 0 !important;
}

.hotel_box {
    padding-top: 35px;
}
.holiday_box{
	padding-top: 3px;
}
/*-=-=-=tour-=-==-=*/
.tour {
    padding: 60px 0;
}
.tour h6 {
    padding: 6px 0 0;
    margin: 0;
}
.tour-box {
    margin: 0 0 15px;
}
/*-=-=-=Footer-=-==-=*/
.footer {
    text-align: center;
    background: #f3f3f3;
}
.footer  {
    padding: 30px 0;
}
.footer h4 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 11px;
}
.copy {
	background-color: #000;
}
.copy p {
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}
.main-.header-box {
    background-color: #000000d9 !important;
}

/* theme header css */
.menu-box a {
    color: #fff;
}
.main-.header-box {
    background-color: #000000d9;
}
.logo a {
    font-size: 24px;
}
.menu-wrapper.menu-box {
    padding: 12px 0;
}
.sign a {
    padding-right: 7px !important;
}

/* flight/table css */
section.table-flight-area {
    background: #000;
}
.travel a.dropdown-toggle.dropdown-btn {
    padding: 0;
    border: none;
    background: #fff;
    /* padding: 7px 12px; */
}
.search-flight {
    padding-top: 20px;
}
.flight_from label {
    color: #000;
}
.search-flight a {
    padding: 0 40px !important;
}
.flight-list-form label.label-text {
    color: #fff;
}

/* filter */
.short-df {
    float: right !important;
}

.arrival i {
    color: #000;
    font-size: 22px;
    background-color: #e4dfdf;
    padding: 4px 5px;
    border-radius: 4px;
}

.arrival li {
    display: inline-block;
    padding-left: 45px; 
}
.details-box {
    margin-top: 10px;
}
.boview {
    padding: 22px 0;
}
.rate-box {
    padding:16px 0;
}
.rate-box h6 {
    font-size: 15px;
    color: #000;
}
.rate-box p {
    font-size: 10px;
    color: #000;
	line-height: 16px;}
.rate-box p span {
    font-size: 10px;
    color:#ff9933;}
.book-box {
    padding: 0px 23px;
}
.card-text{
	padding:0;
}
.airind img{
padding:70px 0;}

/* ============= hotel search page
================================== */
.table-hotel-area {
    background-color: #000;
}
.destination-hotel input.form-control {
    padding: 8px 6px;
	background-color:#fff;
}
.guest-room {
    padding: 6px 5px;
}
.destination-hotel label.label-text {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}
.search-hotel {
    margin-top: 19px;
}
.hotel-img-list{
	padding:15px;}
.star {
    padding-left: 4px;
}
.wifi {
    text-align: center;
	padding:0;
}
.wifi p {
    font-size: 11px;
    font-weight: 700;
}
.card-breakfast p {
    font-size: 14px;
    font-weight: 600;
    color: #ff9933;
}
.more{
	border: white;
    background: none;
    font-size: 14px;
    font-weight: 500;}
.card-body-rate-list{
text-align:center;}
.card-body-rate-list{
font-size: 14px;
padding: 50px 0;}
.card-body-rate-list h4 {
    font-size: 24px;
    font-weight: 700;
}
.card-body-rate-list a {
    background-color: #ff9933;
    padding: 5px 8px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0px 2px 5px #cac7c7;
}

/* ===========who is traveeler page========= */
.traveller-deatails {
    background-color: #000;
	padding:12px 0;
}
	.traveller-deatails{
    color:#fff;
}
.baggage-form{
	border: white;
    background-color: #ececec63;
    box-shadow: 0px 3px 3px #efefef;
}
.meals-assignment-details {
    background-color: #fff;
    padding: 15px;
    box-shadow: 4px 3px 20px #e4e4e4d9;
}
.meals-assignment-details h5{
	color:#ff9933;
	padding:15px 0 5px 0;
}
 #seat{   
	color: white;
    background-color: #ff9933;
    padding: 7px 19px;
    border-radius: 4px;
}
.payment-box{
	background-color:#ff9933;
	color:#fff;
	font-size:18px;
	padding: 1% 19%;
}
.traveller-box-area{
	margin:50px 0;}
.meals-assignment-details p{
	padding-bottom:3px;
	}
.airind-traveler {
    padding-top: 20px;
}
.fare-assignment-details {
    border-top: 1px solid #ececec;
	margin-top: 12px;
	padding-top: 30px;}
.fare-assignment-details h6{
    line-height: 27px;}
.amount-box{
	border-top: 1px solid #ececec;
	padding: 10px 0;
	}
.net-fare-box{
	border-top: 1px solid #ececec;}
.amount-box h6{
	color:#867d7d;}

/*============================================about page=================
=======================================================================*/

/*-=-=-=-banner===-=-=-*/
.about_banner{
    background-image:url(..//img/banner.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding:10% 0;
}
.about_banner h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

/*============================================contact us=================
=======================================================================*/	
.contact_banner{
    background-image:url(..//img/banner.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding:10% 0;
}	
.contact_banner h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* ====================================Media query start
==================================================================	*/

@media only screen and (max-width: 991px) {
.banner .input-box{
border-top:1px solid #e0dcdc;
border-left:none;}
}
